<!DOCTYPE html>
<html>
<head>
    <title>审核记录</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("word:auditor:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("word:auditor:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("word:auditor:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">审核人内容 </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="auditor.auditingContent" placeholder="审核人内容 "/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">审核人 </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="auditor.auditingName" placeholder="审核人 "/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">审核时间 </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="auditor.auditingTime" placeholder="审核时间 "/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="auditor.infoId" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">所属类型(1.发包方 2.发包方项目 3.劳务公司 4 劳务公司项目 5.包工侠、劳务 6.包工侠、劳务项目 ) </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="auditor.type" placeholder="所属类型(1.发包方 2.发包方项目 3.劳务公司 4 劳务公司项目 5.包工侠、劳务 6.包工侠、劳务项目 ) "/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/word/auditor.js?_${.now?long}"></script>
</body>
</html>