<!DOCTYPE html>
<html>
<head>
    <title>发包项目</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <input type="hidden" id="controllerUrl" value="auditProject">
            <#include "/modules/word/audit_info.html">
            <#include "/modules/word/audit_over.html">
            <#if shiro.hasPermission("word:project:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("word:project:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("word:project:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">项目结束时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.endTime" placeholder="项目结束时间 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">项目地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pAddresss" placeholder="项目地址 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">栏标价</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pColumnPrice" placeholder="栏标价 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">合同url</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pContract" placeholder="合同url "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">分包单位</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pContractCom" placeholder="分包单位 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">推包工侠（1是，0否）</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pIsPushLabor" placeholder="推包工侠（1是，0否） "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">推项目(1是，0否)</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pIsPushProject" placeholder="推项目(1是，0否) "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">发包方项目名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pName" placeholder="发包方项目名称 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">施工人数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pNum" placeholder="施工人数 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">项目编号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pNumber" placeholder="项目编号 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pRemark" placeholder="备注 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">项目规模</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pScale" placeholder="项目规模 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">项目状态</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pStatus" placeholder="项目状态 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">工程类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.pType" placeholder="工程类型 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">发包方项目类型（1：个人 、2：发包方（工程））</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.projectType"
                           placeholder="发包方项目类型（1：个人 、2：发包方（工程）） "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">地区编码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.region" placeholder="地区编码 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">项目开始时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="project.startTime" placeholder="项目开始时间 "/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/word/project.js?_${.now?long}"></script>
</body>
</html>